@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

/* Styling for the carousel container */
.carousel-container {
    width: 100%; /* Adjust the width as per your preference */
    overflow: hidden;
    position: relative;
  }
  
  /* Styling for the carousel track */
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .card {
    flex: 0 0 calc(100% / 3); /* Set each card to occupy 33.33% of the container width by default */
    height: 150px; /* Adjust the height as per your preference */
    background-color: #f0f0f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }



#cta {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    .carousel-track {
        flex-wrap: nowrap; /* Prevent cards from wrapping in mobile view */
      }
    
      .card {
        flex: 0 0 100%; /* Change to 100% width for mobile devices */
      }

    #cta {
        background-image: url('../images/bg-simplify-section-mobile.svg');
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.7s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
    transition: 0.5s;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }